.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;

}

.details-container {
    width: 1280px;
    margin: auto;
    position: relative;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.next-button {
    width: 344px;
    height: 56px;
    background: #0858F7;
    border-radius: 12px;
    color: #fff;
    border: none;
    font-weight: 700;
    margin-top: 40px;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

.input-box {
    font-weight: 700;
    margin-top: 40px;
    width: 344px;
    height: 56px;
    padding-left: 16px;
    border: none;
    background: rgba(24, 24, 27, 0.05);
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 999;
}

.next-button,
.input-box:hover {
    border: 1px solid #0858F7;

}

input[type=email]:focus {
    border: 1px solid #0858F7;

}

.forgetPass {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    color: #0858F7;
}

.signIn {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #18181B;
}

.color {
    color: #0858F7;

}

.banner {
    width: 480px;
    height: 664px;
    z-index: 9999 !important;
}

/*  */


.signIn {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.icon {
    position: absolute;
    top: 50px;
    left: 50px;
}



/* ********************* */
/* Banners */
/* ********************* */

.banners {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 433.96px;
    height: 600.32px;
    transform: rotate(5deg);
    z-index: -9;
    left: calc(50% - 464.7px/2 + 86.13px);
    top: calc(50% - 564.32px/2 - 27.43px);
}

.banner2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 387.7px;
    height: 536.32px;
    left: calc(50% - 387.7px/2 + 125px);
    top: calc(50% - 536.32px/2 - 2px);
    border-radius: 19.385px;
    transform: rotate(10deg);
    z-index: -9999;

}



/* ********************* */
/* Tablet horizontaly Reaponaive */
/* ********************* */


@media only screen and (max-width: 1024px) {

    .details-container {
        max-width: 100%;
        margin: auto;
    }

    .container {
        justify-content: space-around;

    }

}

/* ********************* */
/* Tablet reaponaive */
/* ********************* */

@media screen and (max-width: 768px) {

    .details-container {
        width: 1280px;
        margin: auto;
        position: absolute;
    }

    .forgetPass {

        text-align: center;
    }

    .signIn {
        top: 50px;
        right: 50px;
        text-align: end;
    }

    .content {
        margin-top: 20%;
    }


}

/* ********************* */
/* Mobile Reaponaive */
/* ********************* */


@media screen and (max-width: 426px) {
    .forgetPass {

        text-align: start;
    }

    .container {
        padding: 20px;
    }

    .input-box {
        margin-top: 40px;
        width: 344px;
        height: 56px;
        /* width: 100%; */
    }

    .signIn {
        top: 20px;
        right: 20px;
    }

    .icon {
        top: 20px;
        left: 20px;
    }

    .next-button {
        width: 100%;
        height: 56px;
    }

    .title {
        width: 80%1;
    }

}